{{!-- <div>
  <h3>whoeve threw that paper</h3>
  <h1></h1>
  <div>
        <h3>dispaly pls</h3>
        <p>{{name}}</p>
        <p>{{maker}}</p>
        <p>{{grape}}</p>
        <p>{{vintage_date}}</p>
        <p>{{abv}}</p>
        <p>{{rating}}</p>
      </div>
</div> --}}

{{#each projects as |project|}}
      <div>
        <h3>uploaded by: {{user.name}}</h3>
        <p>{{name}}</p>
        <p>{{maker}}</p>
        <p>{{grape}}</p>
        <p>{{vintage_date}}</p>
        <p>{{abv}}</p>
        <p>{{rating}}</p>
      </div>
    {{/each}}