<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>

  <form>
  <div class="handle-bar">
    <label for="slide-bar">1-10 best to worst</label>
    <input type="range" class="control-range" id="ControlRange">
  </div>
</form>

  <p>
    <button class="btn btn-primary">Confirm</button>
  </p>
</div>
