<div>
  <h3>dispaly pls</h3>
  <p>{{name}}</p>
  <p>{{maker}}</p>
  <p>{{grape}}</p>
  <p>{{vintage_date}}</p>
  <p>{{abv}}</p>
  <p>{{rating}}</p>
</div>

<div class="handle-bar">
   {{#if bottles.length}}
    <div class="col-md-6 bottle-list">
      <h3>Current Bottles:</h3>

      {{#each bottles as |bottle|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/api/bottle/{{bottle.id}}">{{bottle.name}}</a></h4>
             <h2>{{bottle.name}}</h2>
  <p>{{bottle.maker}}</p>
  <p>{{vintage_date}}</p>
  <p>{{bottle.grape}}</p>
  <p>{{bottle.abv}}</p>
  <p>{{bottle.rating}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

  <div>
  <form>
  <div class="handle-bar">
    <label for="slide-bar">1-10 best to worst</label>
    <input type="range" class="control-range" id="ControlRange">
  </div>
</form>

  <p>
    <button class="btn btn-primary">Confirm</button>
  </p>
</div>
